@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
#borderimg1 {
	border: 20px solid transparent;
	padding: 5px;
	border-image: url(../images/Pikaborder.jpg) 33 round;
	width: 10%;
	margin-left: 5px;
}

.home-wrapper {
	justify-content: center;
	display: flex;
}

.text-button {
	outline: 0;
	height: 150px;
	margin: auto 0;
}

.home-response {
	color: white;
	font-size: 20px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr, 1fr));
	background-color: rgb(44, 169, 253);
	padding: 45px;
}

.search {
	font-family: 'Lobster', cursive;
}

.manga-cover,
.anime-cover {
	justify-self: center;
}

h1{
	color:white;
}