#borderimg1 {
	border: 20px solid transparent;
	padding: 5px;
	border-image: url(../images/Pikaborder.jpg) 33 round;
	width: 350px;
}

.manga-wrapper {
	justify-content: space-evenly;
	display: flex;
}

.text-button {
	outline: 0;
	height: 150px;
}

.text-button1 {
	outline: 0;
	height: 130px;
}
.manga-response {
	color: white;
	font-size: 20px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr, 1fr));
	background-color: rgb(44, 169, 253);
	padding: 45px;
}

.manga-cover {
	justify-self: center;
}

.text-body{
	color:white;
}

.text-b{
	color:white;
}
