.App {
	min-width: 100vw;
	min-height: 100vh;
	text-align: center;
	align-items: center;
	background-color: black;
}

.nav-wrapper {
	background: url('../images/AnimeExtended3.png');
	background-size: 1400px;
	background-repeat: no-repeat;
    height: 250px;
}

.nav {
	display: flex;
	list-style: none;
	justify-content: space-evenly;
	font-size: 20px;
}

a:link {
	color: white;
	text-decoration: none;
}

a:visited {
	color: red;
}

a:hover {
	color: silver;
}

a:active {
	color: gold;
}
