.App {
	min-width: 100vw;
	min-height: 100vh;
	text-align: center;
	align-items: center;
	background-color: rgb(82, 176, 231);
	border: 20px solid transparent;
	padding: 5px;
	border-image: url(../images/Pikaborder.jpg) 100 round;
}

.nav-wrapper {
	background: url('../images/AnimeExtended3.png');
	background-size: 1400px 145px;
	background-repeat: no-repeat;
	height: 220px;
	padding-top: 7%;
}

.nav {
	display: flex;
	list-style: none;
	justify-content: space-evenly;
	font-size: 20px;
}

a:link {
	color: white;
	text-decoration: none;
}

a:visited {
	color: red;
}

a:hover {
	color: silver;
}

a:active {
	color: gold;
}
